CONFIG_DA9063_WATCHDOG=y
CONFIG_MFD_DA9063=y
CONFIG_REGULATOR_DA9063=y
CONFIG_LEDS_PCA9532=y
CONFIG_LEDS_PCA9532_GPIO=y
CONFIG_VIDEO_ADV_DEBUG=y
CONFIG_VIDEO_SCAN921226H=y
# CONFIG_VIDEO_OV5640 is not set
CONFIG_VIDEO_PHYTEC_VM012=y
CONFIG_VIDEO_PHYTEC_VM050=y
CONFIG_VIDEO_MT9M111=y
CONFIG_VIDEO_MT9P031=y
CONFIG_VIDEO_MT9V032=y
CONFIG_NL80211_TESTMODE=y
CONFIG_R8169=m
CONFIG_SPI_SPIDEV=y
CONFIG_MAX1363=y
# CONFIG_DRM_DW_HDMI_AHB_AUDIO is not  is not set
