#
# Remove all SOC's except i.MX6 and i.MX6UL
#
# CONFIG_SOC_IMX31 is not set
# CONFIG_SOC_IMX35 is not set
# CONFIG_SOC_IMX50 is not set
# CONFIG_SOC_IMX51 is not set
# CONFIG_SOC_IMX53 is not set
# CONFIG_SOC_IMX7D is not set
# CONFIG_SOC_IMX7ULP is not set
# CONFIG_SOC_VF610 is not set
# CONFIG_XEN is not set

#
# Disable wlan, (activate with yocto MACHINE_FEATURE wlan)
#
# CONFIG_WIRELESS is not set
# CONFIG_WLAN is not set

#
# Disable bluetooth (activate with yocto MACHINE_FEATURE bluetooth)
#
# CONFIG_BT is not set

#
# Disable can (activate with yocto MACHINE_FEATURE can)
#
# CONFIG_CAN is not set

#
# Disable pci (activate with yocto MACHINE_FEATURE pci)
#
# CONFIG_PCI is not set

#
# Disable USB NET Driver Support
#
# CONFIG_USB_NET_DRIVERS is not set

#
# Disable ANALOG/DIGITAL TV, RADIO and SDR (no standard PHYTEC support)
#
CONFIG_MEDIA_SUPPORT_FILTER=y
# CONFIG_MEDIA_ANALOG_TV_SUPPORT is not set
# CONFIG_MEDIA_DIGITAL_TV_SUPPORT is not set
# CONFIG_MEDIA_RADIO_SUPPORT is not set
# CONFIG_MEDIA_SDR_SUPPORT is not set
# Media drivers
# Drivers filtered as selected at 'Filter media drivers'
