config MEDIA_IMX
	tristate "Multimedia Support for Freescale i.MX"
	depends on MEDIA_CONTROLLER
	---help---
	  This driver provides a SoC wide media controller device that all
	  multimedia components in i.MX5 and i.MX6 SoCs can register with.

config MEDIA_IMX_IPU
	tristate "i.MX Image Processing Unit (v3) core driver"
	---help---
	  This driver provides core support for the i.MX IPUv3 contained in
	  i.MX5 and i.MX6 SoCs.

config MEDIA_IMX_VIDEO_SWITCH
	tristate "i.MX Video Bus Multiplexer"
	depends on VIDEO_V4L2_SUBDEV_API
	help
	  This driver provides support for SoC internal video bus multiplexers
	  controlled by register bitfields as well as external multiplexers
	  controller by a GPIO.

config VIDEO_IMX_IPU_COMMON
	tristate

config VIDEO_IMX_IPU_CSI
	tristate "i.MX5/6 CMOS Sensor Interface driver"
	depends on VIDEO_DEV && IMX_IPUV3_CORE && MEDIA_CONTROLLER
	select VIDEOBUF2_DMA_CONTIG
	select VIDEO_IMX_IPU_COMMON
	select VIDEO_IMX_IPUV3
	---help---
	  This is a v4l2 video capture driver for the IPUv3 on i.MX5/6.

config VIDEO_IMX_IPU_SCALER
	tristate "i.MX5/6 IPUv3 based image scaler driver"
	depends on VIDEO_DEV && IMX_IPUV3_CORE
	select VIDEOBUF2_DMA_CONTIG
	select VIDEO_IMX_IPU_COMMON
	select V4L2_MEM2MEM_DEV
	---help---
	  This is a v4l2 scaler video driver for the IPUv3 on i.MX5/6.

config VIDEO_IMX_IPU_VDIC
	tristate "i.MX5/6 IPUv3 based deinterlacer driver"
	depends on VIDEO_DEV && IMX_IPUV3_CORE
	select VIDEOBUF2_DMA_CONTIG
	select VIDEO_IMX_IPU_COMMON
	select V4L2_MEM2MEM_DEV
	---help---
	  This is a v4l2 deinterlacer video driver for the IPUv3 on i.MX5/6.
