/*
 * Copyright 2014 Christian Hemp, Phytec Messtechnik GmbH
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include <dt-bindings/sound/fsl-imx-audmux.h>
#include "imx6q-phytec-phycard-imx6-som.dtsi"
#include "imx6qdl-phytec-lcd.dtsi"

/ {
	model = "Phytec phyCARD-i.MX6 Quad Carrier-Board";
	compatible = "phytec,imx6q-pbaa03", "phytec,imx6q-pcaaxl3", "fsl,imx6q";

	aliases {
		rtc0 = &i2c_rtc;
	};

	chosen {
		linux,stdout-path = &uart3;
	};

	regulators {
		reg_3v3: regulator@2 {
                        compatible = "regulator-fixed";
                        reg = <2>;
                        regulator-name = "3V3";
                        regulator-min-microvolt = <3300000>;
                        regulator-max-microvolt = <3300000>;
                };

		reg_1v8: regulator@3 {
			compatible = "regulator-fixed";
			reg = <3>;
			regulator-name = "1V8";
			regulator-min-microvolt = <1800000>;
			regulator-max-microvolt = <1800000>;
		};

		reg_vcc_cam0: regulator@6 {
			compatible = "regulator-fixed";
			reg = <6>;
			regulator-name = "VCC_CAM0";
			regulator-min-microvolt = <2800000>;
			regulator-max-microvolt = <2800000>;
		};
	};

	tlv320_mclk: oscillator {
		compatible = "fixed-clock";
		#clock-cells = <0>;
		clock-frequency = <19200000>;
		clock-output-names = "tlv320-mclk";
	};

        phytec_mediabus: phytec_mediabus {
		compatible = "phytec,media-bus";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_cam0data
				&pinctrl_cam0clk
				&pinctrl_cam0switch>;

		#gpio-cells = <3>;
		#clock-cells = <1>;

		phytec,cam0_data_en-gpio = <&gpio5 20 GPIO_ACTIVE_LOW>;
		phytec,cam0_npwrdn-gpio  = <&gpio5 27 GPIO_ACTIVE_LOW>;

		phytec,cam0_serial;

		assigned-clocks =
		<&clks IMX6QDL_CLK_CKO1_SEL>,
		<&clks IMX6QDL_CLK_CKO>,
		<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>;

		assigned-clock-parents =
		<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>,
		<&clks IMX6QDL_CLK_CKO1>;

		assigned-clock-rates = <0>, <0>, <216000000>;

		clocks = <&clks IMX6QDL_CLK_CKO1>;
		clock-names = "camera0-clk";

		clock-output-names = "camera0-clk";

		camera@0 {

		};
	};


	sound {
		compatible = "simple-audio-card";
		simple-audio-card,name = "OnboardTLV320AIC3007";
		simple-audio-card,format = "i2s";
		simple-audio-card,bitclock-master = <&dailink_master>;
		simple-audio-card,frame-master = <&dailink_master>;
		simple-audio-card,widgets =
			"Microphone", "Mic Jack",
			"Line", "Line In",
			"Line", "Line Out";
		simple-audio-card,routing =
			"Line Out", "LLOUT",
			"Line Out", "RLOUT",
			"MIC3L", "Mic Jack",
			"MIC3R", "Mic Jack",
			"Mic Jack", "Mic Bias",
			"LINE1L", "Line In",
			"LINE1R", "Line In";

		simple-audio-card,cpu {
			sound-dai = <&ssi2>;
		};

		dailink_master: simple-audio-card,codec {
			sound-dai = <&codec>;
			clocks = <&tlv320_mclk>;
		};
	};
};

&audmux {
	status = "okay";

	ssi2 {
		fsl,audmux-port = <1>;
		fsl,port-config = <
			(IMX_AUDMUX_V2_PTCR_TFSDIR |
			IMX_AUDMUX_V2_PTCR_TFSEL(4) |
			IMX_AUDMUX_V2_PTCR_TCLKDIR |
			IMX_AUDMUX_V2_PTCR_TCSEL(4))
			IMX_AUDMUX_V2_PDCR_RXDSEL(4)
		>;
	};

	pins5 {
		fsl,audmux-port = <4>;
		fsl,port-config = <
			0x00000000
			IMX_AUDMUX_V2_PDCR_RXDSEL(1)
		>;
	};
};

/* The phyCARD-i.MX6 baseboard doesn't use a direct PWM signal from the i.MX6
 * to the LCD-018. Therefore we don't configure a backlight node here.
 */

&fec {
	status = "okay";
};

&i2c2 {
	status = "okay";

	codec: tlv320@18 {
		compatible = "ti,tlv320aic3007";
		#sound-dai-cells = <0>;
		reg = <0x18>;
		ai3x-micbias-vg = <2>;

		AVDD-supply = <&reg_3v3>;
		IOVDD-supply = <&reg_3v3>;
		DRVDD-supply = <&reg_3v3>;
		DVDD-supply = <&reg_1v8>;
	};

	polytouch: edt-ft5x06@38 {
		compatible = "edt,edt-ft5406", "edt,edt-ft5x06";
		reg = <0x38>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_edt_ft5x06>;
		interrupt-parent = <&gpio1>;
		interrupts = <6 0>;
	};

	stmpe@44 {
		compatible = "st,stmpe811";
		reg = <0x44>;
		interrupt-parent = <&gpio4>;
		interrupts = <29 0>;
	};

	mt9p031_0: mt9p031@48 {
		compatible = "aptina,mt9p031";
		reg = <0x48>;
		status = "disabled";
		vdd-supply = <&reg_vcc_cam0>;
		vdd_io-supply = <&reg_vcc_cam0>;
		vaa-supply = <&reg_vcc_cam0>;

		clocks = <&phytec_mediabus 0>;

		port {
			mt9p031_ep0: endpoint {
				input-clock-frequency = <54000000>;
				pixel-clock-frequency = <54000000>;
				pclk-sample = <1>;
				remote-endpoint = <&csi0_ep>;
			};
		};
	};

	mt9v024m_0: mt9v024m@48 {
		compatible = "aptina,mt9v024m";
		reg = <0x48>;
		status = "disabled";

		clocks = <&phytec_mediabus 0>;

		port {
			mt9v024m_ep0: endpoint {
				link-frequencies = /bits/ 64
					<27000000>;
				pclk-sample = <1>;
				remote-endpoint = <&csi0_ep>;
			};
		};
        };

	mt9m111_0: mt9m111@48 {
		compatible = "micron,mt9m111";
		status = "disabled";
		reg = <0x48>;

		clocks = <&phytec_mediabus 0>;
		clock-names = "mclk";
		port {
			mt9m111_ep0: endpoint {
				bus-width = <8>;
				remote-endpoint = <&csi0_ep>;
			};
		};
	};

	mt9m001_0: mt9m001@5d {
		compatible = "aptina,mt9m001";
		status = "disabled";
		reg = <0x5d>;

		clocks = <&phytec_mediabus 0>;
		port {
			mt9m001_ep0: endpoint {
				bus-width = <8>;
				link-frequencies = /bits/ 64
					<36000000>;
				remote-endpoint = <&csi0_ep>;
			};
		};
	};

	tw9910_0: tw9910@45 {
		compatible = "techwell,tw9910";
		status = "disabled";
		reg = <0x45>;

		clocks = <&phytec_mediabus 0>;

		port {
			tw9910_ep0: endpoint {
				bus-width = <8>;
				mpout = <7>;
				link-frequencies = /bits/ 64 <27000000>;
				remote-endpoint = <&csi0_ep>;
			};
		};
	};

	i2c_rtc: rtc@51 {
		compatible = "nxp,rtc8564";
		reg = <0x51>;
	};

	pca9530: pca9530@60 {
		compatible = "nxp,pca9530";
		#address-cells = <1>;
		#size-cells = <0>;
		nxp,typecodes = <0x1>;
		nxp,statecodes = <0x1>;
		reg = <0x60>;
	};	

	adc@64 {
		compatible = "maxim,max1037";
		vcc-supply = <&reg_3v3>;
		reg = <0x64>;
	};
	
};

&ipu1_csi0 {
	#address-cells = <1>;
	#size-cells = <0>;

	/* Parallel bus */
	csi0_ep: endpoint {
		bus-width = <8>;
		remote-endpoint = <&mt9v024m_ep0>;
	};
};

&pca9530 {
	pca9530_lcd@0 {
		label = "phycard:lcd";
		reg = <0>;
		led-invert;
	};
};

&ssi2 {
	status = "okay";
};

&uart3 {
	status = "okay";
};

&usbh1 {
	status = "okay";
};

&usbotg {
	status = "okay";
};

&usdhc3 {
	status = "okay";
};
