// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2018 PHYTEC Messtechnik GmbH
 * Author: Christian Hemp <c.hemp@phytec.de>
 */

/dts-v1/;
#include "imx6q-phytec-pfla02.dtsi"
#include "imx6qdl-phytec-pbab01.dtsi"
#include "imx6q-phytec-pbab01-phycam.dtsi"

/ {
	model = "PHYTEC phyFLEX-i.MX 6Quad Carrier-Board";
	compatible = "phytec,imx6q-pbab01", "phytec,imx6q-pfla02", "fsl,imx6q";

	chosen {
		stdout-path = &uart4;
	};

	csi_deserializer1: csi-deserializer1 {
		compatible = "ti,scan921226h";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_csi_des1>;

		enable-gpios = <&gpio3 10 GPIO_ACTIVE_HIGH>;
		powerdown-gpios = <&gpio2 28 GPIO_ACTIVE_HIGH>;
	};
};

&ecspi5 {
	status = "okay";

	spi@0 {
		compatible = "spidev";
		spi-max-frequency = <57600000>;
		reg = <0>;
	};

	spi@1 {
		compatible = "spidev";
		spi-max-frequency = <57600000>;
		reg = <1>;
	};
};

&i2c3 {
	status = "okay";
};

&sata {
        status = "okay";
};
