// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2018 PHYTEC Messtechnik GmbH
 * Author: Christian Hemp <c.hemp@phytec.de>
 */

/dts-v1/;
#include "imx6q-phytec-pfla02.dtsi"
#include "imx6qdl-phytec-pbab01.dtsi"

/ {
	model = "PHYTEC phyFLEX-i.MX 6Quad Carrier-Board";
	compatible = "phytec,imx6q-pbab01", "phytec,imx6q-pfla02", "fsl,imx6q";

	chosen {
		stdout-path = &uart4;
	};

	csi_deserializer1: csi_deserializer1 {
		compatible = "ti,scan921226h";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_cam1switch>;
		status = "okay";

		enable-gpios = <&gpio3 10 GPIO_ACTIVE_HIGH>;
		npwrdn-gpios = <&gpio2 28 GPIO_ACTIVE_HIGH>;

		#address-cells = <1>;
		#size-cells = <0>;

		/* serial sink interface */
		port@0 {
			reg = <0>;

			des1_in: endpoint {
			};
		};

		/* parallel source interface */
		port@1 {
			reg = <1>;

			des1_out: endpoint {
			};
		};
	};
};

&ecspi5 {
	status = "okay";

	spi@0 {
		compatible = "spidev";
		spi-max-frequency = <57600000>;
		reg = <0>;
	};

	spi@1 {
		compatible = "spidev";
		spi-max-frequency = <57600000>;
		reg = <1>;
	};
};

&i2c3 {
	status = "okay";

	/* VM-011 */
	mt9p031_1: mt9p031_1@48 {
		compatible = "aptina,mt9p031";
		pinctrl-names = "default";
		pinctrl-0 = <
			&pinctrl_cam1data
			&pinctrl_cam1clk
		>;
		reg = <0x48>;
		status = "disabled";

		vdd-supply = <&reg_vcc_cam1>;
		vdd_io-supply = <&reg_vcc_cam1>;
		vaa-supply = <&reg_vcc_cam1>;

		clocks = <&clks IMX6QDL_CLK_CKO2>;

		assigned-clocks =
			<&clks IMX6QDL_CLK_CKO2_SEL>,
			<&clks IMX6QDL_CLK_ESAI_SEL>,
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>,
			<&clks IMX6QDL_CLK_ESAI_EXTAL>;

		assigned-clock-parents =
			<&clks IMX6QDL_CLK_ESAI_EXTAL>,
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>;

		assigned-clock-rates = <0>, <0>, <216000000>, <54000000>;

		port {
			mt9p031_ep1: endpoint {
				remote-endpoint = <
					&ipu2_csi1_mux_from_parallel_sensor
				>;
				input-clock-frequency = <54000000>;
				pixel-clock-frequency = <54000000>;
				bus-width = <8>;
				hsync-active = <1>;
				vsync-active = <1>;
				pclk-sample = <1>;
			};
		};
	};

	/* VM-010 */
	mt9v024_1: mt9v024_1@48 {
		compatible = "aptina,mt9v024";
		pinctrl-names = "default";
		pinctrl-0 = <
			&pinctrl_cam1data
			&pinctrl_cam1clk
		>;
		reg = <0x48>;
		status = "disabled";

		clocks = <&clks IMX6QDL_CLK_CKO2>;

		assigned-clocks =
			<&clks IMX6QDL_CLK_CKO2_SEL>,
			<&clks IMX6QDL_CLK_ESAI_SEL>,
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>,
			<&clks IMX6QDL_CLK_ESAI_EXTAL>;

		assigned-clock-parents =
			<&clks IMX6QDL_CLK_ESAI_EXTAL>,
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>;

		assigned-clock-rates = <0>, <0>, <216000000>, <54000000>;

		port {
			mt9v024_ep1_0: endpoint {
				remote-endpoint = <
					&ipu2_csi1_mux_from_parallel_sensor
				>;
				link-frequencies = /bits/ 64 <27000000>;
				bus-width = <8>;
				hsync-active = <1>;
				vsync-active = <1>;
			};
		};
        };

	/* VM-009 */
	mt9m111_1: mt9m111_1@48 {
		compatible = "micron,mt9m111";
		pinctrl-names = "default";
		pinctrl-0 = <
			&pinctrl_cam1data
			&pinctrl_cam1clk
		>;
		reg = <0x48>;
		status = "disabled";

		clocks = <&clks IMX6QDL_CLK_CKO2>;
		clock-names = "mclk";
		phytec,invert-pixclk;

		assigned-clocks =
			<&clks IMX6QDL_CLK_CKO2_SEL>,
			<&clks IMX6QDL_CLK_ESAI_SEL>,
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>,
			<&clks IMX6QDL_CLK_ESAI_EXTAL>;

		assigned-clock-parents =
			<&clks IMX6QDL_CLK_ESAI_EXTAL>,
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>;

		assigned-clock-rates = <0>, <0>, <216000000>, <54000000>;

		port {
			mt9m111_ep1: endpoint {
				remote-endpoint = <
					&ipu2_csi1_mux_from_parallel_sensor
				>;
				bus-width = <8>;
				hsync-active = <1>;
				vsync-active = <1>;
			};
		};
	};

	/* VM-012 */
	vm012_1: vm012_1@48 {
		compatible = "phytec,vm012m";
		pinctrl-names = "default";
		pinctrl-0 = <
			&pinctrl_cam1data
			&pinctrl_cam1clk
		>;
		reg = <0x48>;
		status = "disabled";

		clocks = <&clks IMX6QDL_CLK_CKO2>;
		sysclk = <54000000>;

		assigned-clocks =
			<&clks IMX6QDL_CLK_CKO2_SEL>,
			<&clks IMX6QDL_CLK_ESAI_SEL>,
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>,
			<&clks IMX6QDL_CLK_ESAI_EXTAL>;

		assigned-clock-parents =
			<&clks IMX6QDL_CLK_ESAI_EXTAL>,
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>;

		assigned-clock-rates = <0>, <0>, <216000000>, <216000000>;

		port {
			vm012_ep1: endpoint {
				remote-endpoint = <
					&ipu2_csi1_mux_from_parallel_sensor
				>;
				/* HACK: set some attribute; else BT.656 mode
				will be assumed silently */
				hsync-active = <1>;
				vsync-active = <1>;
				bus-width = <10>;
			};
		};
	};

	/* VM-050 */
	vm050_1: vm050_1@4e {
		#gpio-cells = <2>;
		compatible = "phytec,vm050";
		pinctrl-names = "default";
		pinctrl-0 = <
			&pinctrl_cam1data
			&pinctrl_cam1clk
		>;

		reg = <0x4e>;
		status = "disabled";

		port {
			vm050_ep1: endpoint {
				/* HACK: set some attribute; else BT.656 mode
				will be assumed silently */
				hsync-active = <1>;
				bus-width = <8>;
				remote-endpoint = <&ipu2_csi1_mux_from_parallel_sensor>;
			};
		};
	};
};

&ipu2_csi1_mux_from_parallel_sensor {
	remote-endpoint = <&mt9p031_ep1>;
};

&sata {
        status = "okay";
};
