/*
 * Copyright 2014 Christian Hemp, Phytec Messtechnik GmbH
 *
 * The code contained herein is licensed under the GNU General Public
 * License. You may obtain a copy of the GNU General Public License
 * Version 2 or later at the following locations:
 *
 * http://www.opensource.org/licenses/gpl-license.html
 * http://www.gnu.org/copyleft/gpl.html
 */

/dts-v1/;
#include "imx6q-phytec-pfla02.dtsi"
#include "imx6qdl-phytec-lcd.dtsi"
#include <dt-bindings/pwm/pwm.h>

/ {
	model = "Phytec phyBOARD ALCOR";
	compatible = "phytec,imx6q-pbab02", "phytec,imx6q-pfla02", "fsl,imx6q";

	aliases {
		rtc0 = &i2c_rtc;
	};

	chosen {
		stdout-path = &uart4;
	};

	backlight {
		pwms = <&pwm1 0 5000000 PWM_POLARITY_INVERTED>;
		brightness-levels = <255 128 64 32 16 8 4 0>;
		enable-gpios = <&gpio1 8 GPIO_ACTIVE_LOW>;
	};
};

&can1 {
/*	gpio = <&gpio4 5 0>; CAN enable GPIO must fix */
	status = "okay";
};

&ethphy {
	max-speed = <100>;
};

&fec {
	status = "okay";
};

&i2c2 {
	status = "okay";

	polytouch: edt-ft5x06@38 {
		compatible = "edt,edt-ft5406", "edt,edt-ft5x06";
		reg = <0x38>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_edt_ft5x06>;
		interrupt-parent = <&gpio7>;
		interrupts = <12 0>;
		touchscreen-inverted-x;
		touchscreen-inverted-y;
	};

	i2c_rtc: rtc@68 {
		compatible = "mc,rv4162";
		reg = <0x68>;
	};
};

/* RS485 */
&uart3 {
	status = "okay";
	fsl,uart-has-rtscts;
	linux,rs485-enabled-at-boot-time;
	rs485-rts-active-high;
};

&uart4 {
	status = "okay";
};

&usbh1 {
	status = "okay";
};

&usbotg {
	dr_mode = "peripheral";
	status = "okay";
};

&usdhc3 {
	status = "okay";
	max-frequency = <25000000>; /* 25 Mhz */
};
