// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (C) 2020 PHYTEC Messtechnik GmbH
 * Author: Stefan Riedmueller <s.riedmueller@phytec.de>
 */

/ {
	reg_vcc_cam0: regulator-cam0 {
		compatible = "regulator-fixed";
		regulator-name = "VCC_CAM0";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
	};
};

&i2c3 {
	/* VM-011 */
	mt9p031_0: mt9p031_0@48 {
		compatible = "aptina,mt9p031";
		pinctrl-names = "default";
		pinctrl-0 = <
			&pinctrl_cam0data
			&pinctrl_cam0clk
		>;
		reg = <0x48>;
		status = "disabled";

		vdd-supply = <&reg_vcc_cam0>;
		vdd_io-supply = <&reg_vcc_cam0>;
		vaa-supply = <&reg_vcc_cam0>;

		clocks = <&clks IMX6QDL_CLK_CKO1>;

		assigned-clocks =
			<&clks IMX6QDL_CLK_CKO1_SEL>,
			<&clks IMX6QDL_CLK_CKO>,
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>;

		assigned-clock-parents =
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>,
			<&clks IMX6QDL_CLK_CKO1>;

		assigned-clock-rates = <0>, <0>, <216000000>;

		port {
			mt9p031_ep0: endpoint {
				remote-endpoint = <
					&ipu1_csi0_mux_from_parallel_sensor
				>;
				input-clock-frequency = <54000000>;
				pixel-clock-frequency = <54000000>;
				bus-width = <8>;
				hsync-active = <1>;
				vsync-active = <1>;
				pclk-sample = <1>;
			};
		};
	};

	/* VM-010 */
	mt9v024_0: mt9v024_0@48 {
		compatible = "aptina,mt9v024";
		pinctrl-names = "default";
		pinctrl-0 = <
			&pinctrl_cam0data
			&pinctrl_cam0clk
		>;
		reg = <0x48>;
		status = "disabled";

		clocks = <&clks IMX6QDL_CLK_CKO1>;

		assigned-clocks =
			<&clks IMX6QDL_CLK_CKO1_SEL>,
			<&clks IMX6QDL_CLK_CKO>,
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>;

		assigned-clock-parents =
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>,
			<&clks IMX6QDL_CLK_CKO1>;

		assigned-clock-rates = <0>, <0>, <216000000>;

		port {
			mt9v024_ep0_0: endpoint {
				remote-endpoint = <
					&ipu1_csi0_mux_from_parallel_sensor
				>;
				link-frequencies = /bits/ 64 <27000000>;
				bus-width = <8>;
				hsync-active = <1>;
				vsync-active = <1>;
			};
		};
        };

	/* VM-009 */
	mt9m111_0: mt9m111_0@48 {
		compatible = "micron,mt9m111";
		pinctrl-names = "default";
		pinctrl-0 = <
			&pinctrl_cam0data
			&pinctrl_cam0clk
		>;
		reg = <0x48>;
		status = "disabled";

		clocks = <&clks IMX6QDL_CLK_CKO>;
		clock-names = "mclk";
		phytec,invert-pixclk;

		assigned-clocks =
			<&clks IMX6QDL_CLK_CKO1_SEL>,
			<&clks IMX6QDL_CLK_CKO>,
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>,
			<&clks IMX6QDL_CLK_CKO1>;


		assigned-clock-parents =
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>,
			<&clks IMX6QDL_CLK_CKO1>;

		assigned-clock-rates = <0>, <0>, <216000000>, <54000000>;

		port {
			mt9m111_ep0: endpoint {
				remote-endpoint = <
					&ipu1_csi0_mux_from_parallel_sensor
				>;
				bus-width = <8>;
				hsync-active = <1>;
				vsync-active = <1>;
			};
		};
	};

	/* VM-012 */
	vm012_0: vm012_0@48 {
		compatible = "phytec,vm012m";
		pinctrl-names = "default";
		pinctrl-0 = <
			&pinctrl_cam0data
			&pinctrl_cam0clk
		>;
		reg = <0x48>;
		status = "disabled";

		clocks = <&clks IMX6QDL_CLK_CKO1>;
		sysclk = <54000000>;

		assigned-clocks =
			<&clks IMX6QDL_CLK_CKO1_SEL>,
			<&clks IMX6QDL_CLK_CKO>,
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>;

		assigned-clock-parents =
			<&clks IMX6QDL_CLK_PLL4_AUDIO_DIV>,
			<&clks IMX6QDL_CLK_CKO1>;

		assigned-clock-rates = <0>, <0>, <216000000>;

		port {
			vm012_ep0: endpoint {
				remote-endpoint = <
					&ipu1_csi0_mux_from_parallel_sensor
				>;
				/* HACK: set some attribute; else BT.656 mode
				will be assumed silently */
				hsync-active = <1>;
				vsync-active = <1>;
				bus-width = <10>;
			};
		};
	};

	/* VM-050 */
	vm050_0: vm050_0@4a {
		#gpio-cells = <2>;
		compatible = "phytec,vm050";
		pinctrl-names = "default";
		pinctrl-0 = <
			&pinctrl_cam0data
			&pinctrl_cam0clk
		>;

		reg = <0x4a>;
		status = "disabled";

		port {
			vm050_ep0: endpoint {
				/* HACK: set some attribute; else BT.656 mode
				will be assumed silently */
				hsync-active = <1>;
				bus-width = <8>;
				remote-endpoint = <&ipu1_csi0_mux_from_parallel_sensor>;
			};
		};
	};
};

&iomuxc {
	pinctrl_cam0clk: cam0clkgrp {
		fsl,pins = <
			MX6QDL_PAD_GPIO_5__CCM_CLKO1		0xb9
		>;
	};

	pinctrl_cam0data: cam0datagrp {
		fsl,pins = <
			MX6QDL_PAD_CSI0_DAT4__IPU1_CSI0_DATA04	0x1b0b0
			MX6QDL_PAD_CSI0_DAT5__IPU1_CSI0_DATA05	0x1b0b0
			MX6QDL_PAD_CSI0_DAT6__IPU1_CSI0_DATA06	0x1b0b0
			MX6QDL_PAD_CSI0_DAT7__IPU1_CSI0_DATA07	0x1b0b0
			MX6QDL_PAD_CSI0_DAT8__IPU1_CSI0_DATA08	0x1b0b0
			MX6QDL_PAD_CSI0_DAT9__IPU1_CSI0_DATA09	0x1b0b0
			MX6QDL_PAD_CSI0_DAT10__IPU1_CSI0_DATA10	0x1b0b0
			MX6QDL_PAD_CSI0_DAT11__IPU1_CSI0_DATA11	0x1b0b0
			MX6QDL_PAD_CSI0_DAT12__IPU1_CSI0_DATA12	0x1b0b0
			MX6QDL_PAD_CSI0_DAT13__IPU1_CSI0_DATA13	0x1b0b0
			MX6QDL_PAD_CSI0_DAT14__IPU1_CSI0_DATA14	0x1b0b0
			MX6QDL_PAD_CSI0_DAT15__IPU1_CSI0_DATA15	0x1b0b0
			MX6QDL_PAD_CSI0_DAT16__IPU1_CSI0_DATA16	0x1b0b0
			MX6QDL_PAD_CSI0_DAT17__IPU1_CSI0_DATA17	0x1b0b0
			MX6QDL_PAD_CSI0_DAT18__IPU1_CSI0_DATA18	0x1b0b0
			MX6QDL_PAD_CSI0_DAT19__IPU1_CSI0_DATA19	0x1b0b0
			MX6QDL_PAD_CSI0_MCLK__IPU1_CSI0_HSYNC	0x1b0b0
			MX6QDL_PAD_CSI0_PIXCLK__IPU1_CSI0_PIXCLK 0x4001b0b0
			MX6QDL_PAD_CSI0_VSYNC__IPU1_CSI0_VSYNC	0x1b0b0
		>;
	};
};

&ipu1_csi0_mux_from_parallel_sensor {
	remote-endpoint = <&mt9p031_ep0>;
};
